@media only screen and (max-width:850px){
    .login{
        flex-direction: column;
    }
}
@media only screen and (max-width:800px){
    .nav-item{
        display: block;
        position: relative;
        top: 60px;
        left: 213px;
    }
    .Search{
        position: relative;
        right: 18%;
    }
    .navbar button{
        position: relative;
        right: 16%;
    }
    .burger{
        display: block;
        position: absolute;
        cursor: pointer;
        right: 6%;
        top: 30%;
    }
    .v-class{
        opacity: 0;
        left: 25%;
    }
    .line{
        width: 33px;
        background-color: white;
        height: 4px;
        margin: 3px 3px;
    }
    .login{
        flex-direction: column;
        right: 27%;
        top: 10px;
    }
    #home p{
        padding: 0px 40px;
    }
    #services{
        flex-direction: column;
    }
    #services .box{
        margin: 5px auto;
    }
    #clients{
        flex-wrap: wrap;
    }
}
@media only screen and (max-width:640px){
    .login{
        display: none;
    }
    .navbar button {
        right: 25%;
    }
    .Search {
        right: 28%;
    }
    .h-primary{
        padding: 0px 40px;
    }
    #client-section {
        height: auto;
        margin: 35px 0px 0px 0px;
    }
    #clients {
        flex-wrap: wrap;
        padding: 17px 0px;
    }
}
@media only screen and (max-width:530px){
    .v-class{
        left: 15%;
    }
}
@media only screen and (max-width:420px){
    nav img{
        height: 7vh;
    }
    .navbar{
        height:7vh;
    }
    .Search{
        display: none;
        opacity: 0;
    }
    .navbar button {
        display: none;
    }
}