:root {
    --main-bg-color:#4dd0e1;
}
*{
    margin: 0;
    padding: 0;
}
/* navbar css */
.navbar{
    display: flex;
    height: 11vh;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    position:sticky;
    top: 0px;
}
.background{
    background: rgba(0,0,0,0.7) url('footer.png') center center/cover;
    background-blend-mode: hue;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
nav img{
    margin: 1px 15px;
    height: 10vh;
}
.navbar ul li a{
    display: block;
    text-decoration: none;
    color: white;
}
.navbar ul li a:hover{
    color: white;
    background-color: black;
    border-radius: 40px;
    font-weight: bolder;
    padding: 2px;
}
.nav-item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px 40px;
}
.item{
    list-style: none;
    margin: 0px 5px;
}
/* search box */
.Search{
    display: flex;
    align-items: center;
}
.Search ::placeholder{
    color: white;
}
.Search input{
    width: 25vw;
    border-radius: 6px;
    padding: 1px 2px;
    background-color: #c04b4b00;
    color: white;
    border: 2px solid #f4511e;
}
/* login and sign in */
.login{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 16px;
    right: 20px;
}
.login a{
    text-decoration: none;
    color: aliceblue;
    margin: 0px 5px;
    font-weight: lighter;
}
.login a:hover{
    color: white;
    background-color: black;
    border-radius: 30px;
    font-weight: bolder;
    padding: 4px;
}
.burger{
    display: none;
    position: absolute;
    cursor: pointer;
    right: 6%;
    top: 38%;
}
.line{
    width: 33px;
    background-color: white;
    height: 4px;
    margin: 3px 3px;
}
/* Home section */
#home{
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 550px;
    justify-content: center;
    align-items: center;
}
#home button{
    margin: 33px 10px;
    padding: 12px;
}
/* services section */
.services-container{
    margin: 32px 0px 0px 0px;
}
#services{
    display: flex;
    background-color: #e7dfdf30;
}
#services .box{
    border: 2px solid brown;
    padding: 34px;
    margin:auto;
    border-radius: 15px 47px;
    background: #85818126;
}
#services .box img{
    height: 134px;
    display: block;
    margin: auto;
    border-radius: 25px 0px;
}
#services .box p{
    font-family: 'Montserrat', sans-serif;
}
/* client section */
#client-section{
    height: 212px;
    margin: 35px 0px 0px 0px;
}
#client-section h1{
    color: aliceblue;
}
.background2{
    background: rgba(0,0,0,0.7) url('img2.png') center center/cover;
    background-repeat: no-repeat;
    background-blend-mode: saturation;
}
#clients{
    display: flex;
    justify-content: center;
    margin: 20px 0px 0px 0px ;
}
.client-item{
    padding: 0px 15px;
}
/* contact section */
#contact{
    height: 310px;
}
.background3{
    background: rgba(0,0,0,0.7) url('img3.png') center center/cover;
    background-repeat: no-repeat;
    background-blend-mode: hue;
}
#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact h1{
    color: aliceblue;
}
#contact form{
    width:50%;
}
#contact label{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
#contact input,#contact textarea{
    width: 100%;
    padding: 0.5rem;
    border-radius: 9px;
}
footer{
    height: 5vh;
    background-color:var(--main-bg-color);
    background-position: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}